<section  class="movie">
  <div class="cover-image" v-if="movie.backdrop_path" v-bind:style="{backgroundImage:  'url(' + backPath + movie.backdrop_path  + ')'}"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 flex-xs-last flex-md-first">
        <img
          v-if="movie.poster_path"
          v-bind:src="path + movie.poster_path"
          v-bind:alt="movie.title + ' poster'"
          class="img-fluid poster mb-1">
      </div>
      <div class="col-lg-8 col-md-6">
        <h2 class="movie-title">
          {{movie.title}}
          <small> ({{movie.release_date | dateformat('YYYY')}}) </small>
          <small class="tag tag-default">
            <i class="fa fa-star" aria-hidden="true"></i>
            {{movie.vote_average}}
          </small>
        </h2>
        <hr class="mt-0">
        <dl class="row">
          <dt class="lead col-md-3 col-lg-2 text-lg-right" v-if="movie.tagline"> <strong>{{t('Tagline:')}}</strong></dt>
          <dd class="lead col-md-9 col-lg-10" v-if="movie.tagline">{{movie.tagline}}</dd>
          <dt class="col-md-3 col-lg-2 text-lg-right " v-if="director.length">{{t('Director:')}}</dt>
          <dd class="col-md-9 col-lg-10" v-if="director.length">{{director}}</dd>
          <dt class="col-md-3 col-lg-2 text-lg-right" v-if="producer.length">{{t('Producer:')}}</dt>
          <dd class="col-md-9 col-lg-10" v-if="producer.length">{{producer}}</dd>
          <dt class="col-md-3 col-lg-2 text-lg-right" v-if="movie.overview">{{t('Overview:')}}</dt>
          <dd class="col-md-9 col-lg-10" v-if="movie.overview">{{movie.overview}}</dd>
          <dt class="col-md-3 col-lg-2 text-lg-right" v-if="movie.runtime">{{t('Runtime:')}}</dt>
          <dd class="col-md-9 col-lg-10" v-if="movie.runtime">{{movie.runtime}} mins</dd>
          <dt class="col-md-3 col-lg-2 text-lg-right" v-if="movie.budget">{{t('Budget:')}}</dt>
          <dd class="col-md-9 col-lg-10" v-if="movie.budget">${{movie.budget | currency}}</dd>

          <dt class="col-md-3 col-lg-2 text-lg-right" v-if="genres.length">{{t('Genre(s):')}}</dt>
          <dd class="col-md-9 col-lg-10" v-if="genres.length">
            <ul class="list-inline mb-0">
              <li class="list-inline-item" v-for="(gerne, num) in genres">  {{ gerne.name }}<span v-if="num < genres.length -1">, </span></li>
            </ul>
          </dd>

          <dt class="col-md-3 col-lg-2 text-lg-right" v-if="languages.length">{{t('Language(s):')}}</dt>
          <dd class="col-md-9 col-lg-10" v-if="languages.length">
            <ul class="list-inline mb-0">
              <li class="list-inline-item" v-for="(language, num) in languages">  {{ language.name }}<span v-if="num < languages.length -1">, </span></li>
            </ul>
          </dd>
          <dt class="col-md-3 col-lg-2 text-lg-right" v-if="countries.length">{{t('Country(ies):')}}</dt>
          <dd class="col-md-9 col-lg-10" v-if="countries.length">
            <ul class="list-inline mb-0">
              <li class="list-inline-item" v-for="(country, num) in countries">  {{ country.name }}<span v-if="num < countries.length -1">, </span></li>
            </ul>
          </dd>
        </dl>

      </div>
    </div>

    <h3 v-if="cast.length" v-translate>Top cast:</h3>

    <div class="row text-xs-center flex-items-xs-center cast" v-if="cast.length">
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2" v-for="(actor, num) in cast" v-if="num < 6">

        <figure class="img-effect"
          v-if="profilePaths[num]"
          v-bind:style="{ backgroundImage: 'url(' + creditsPath + actor.profile_path  + ')' }">
          <router-link :to="{ name: 'person', params: { lang: $store.state.commonService.lang, personId: actor.id }}">
              <figcaption class="mask">
                <div class="content">
                  <h5 class="text-truncate mb-0">{{actor.name}}</h5>
                  <h6 class="text-center text-truncate">{{actor.character}}</h6>
                </div>
              </figcaption>
            </router-link>
        </figure>

      </div>
    </div>

    <button class="btn btn-link" @click="getBack()"><i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i></button>
  </div>

</section>
