@import '../../scss/variables';
@import '../../scss/brand-variables';

.movies {
  padding: $space 0 ($space*3) 0;
  background-color: $movie-list-background;
}

h3 {
  color: $movie-background;
  font-weight: 500;
  margin-bottom: $space/2;
}

.pagination {
  float:right;
  margin: 0;
  .btn-link:focus {
    outline:0;
  }
}

.row {
   display: flex;
   flex-wrap: wrap;
}
