@import '../../scss/variables';
$space : 40px;
$black: #000000;
$card-height: 278px;

.card {
  height: $card-height;
  margin-bottom: $space;
  box-shadow: 0px 0px 15px;
  box-sizing:border-box;
  position: relative;

  img {
    float: left;
    width: 185px;
    margin-right: 13px;
    height: $card-height;
    overflow: hidden;
  }
}

.caption {
  padding:0 $space/3 0;
  a:not(.read-more) {
    &:hover {
      text-decoration: none;
    }
  }
  h4 {
    padding-top: ($space/3);
    margin-bottom: ($space/3);
  }
  .top-text {
    overflow: hidden;
    p {
      margin: 0
    }
  }
}

.no_image_holder {
  float: left;
  margin-right: 13px;
  width: 185px;
  height:  $card-height;
  line-height:  $card-height;
  font-size: 92px;
  display: inline-block;
  font-family: FontAwesome;
  text-align: center;
  background-color: #dbdbdb;
  color: #b5b5b5;
  box-sizing: border-box;
  &:before {
    content: "\f1c5";
  }
}

.list-genres {
  margin:0;
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 3px;
  }
}

.rating {
  i {
    color: $black;
  }
}
.overview {
  margin-top: $space/3;
  font-size: 1.5rem;
  line-height: 1.4
}
.read-more {
  position: absolute;
  bottom: $space/3;
  right: $space/3;
}

.pagination {
  float:right;
  margin: 0;
  .btn-link:focus {
    outline:0;
  }
}
