$enable-flex: true;
$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;

//colors
$black: #000000;
$white: #FFFFFF;

$brand-color: #4CAF50;
$logo-color: lighten($brand-color, 10%);
$navbar-bg-color: #242e2e;

$link-color: #42b983;
$brand-success: #42b983;

$movie-background: #3b3e3c;
$movie-list-background: #e6ebea;

$space : 4rem;
$brand-success: #4CAF50;
$link-color: #42b983;

$navbar-dark-toggler-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$logo-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !default;
$navbar-dark-toggler-border: transparent;

$navbar-border-radius: 0;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $logo-color;
