//colors
$black: #000000;
$white: #FFFFFF;


$brand-color: #4CAF50;
$logo-color: lighten($brand-color, 10%);
$navbar-bg-color: #242e2e;

$link-color: #42b983;
$brand-success: #42b983;

$movie-background: #3b3e3c;
$movie-list-background: #e6ebea;

$space : 40px;

$card-height: 278px;
