@import '../scss/brand-variables';
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500");

body {
  background-color:$movie-list-background;
}

button:focus {
    outline:none;
}

hr {
  border-top:  2px solid $brand-color;
}

button:active, button:focus {
  outline:none !important;
}

.navbar {
  background-color:$navbar-bg-color;

}

div[class*='col-'] {
  transition: all .3s;
}

.btn {
  transition: all .2s;
  &:hover {
    transition: all .3s;
  }
}

.btn-link, a {
  color: $brand-color;
  &:hover, &:focus {
    outline: none;
    color: darken($brand-color, 20%);
  }
}

.btn-success {
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.btn-transparent {
  background-color: transparent;
  &.btn-icon {
    padding: 0;
    padding-left: .8rem;
    border: 0;
    color: $navbar-bg-color;
    &:hover {
      color: darken($brand-color, 20%);
    }
    &.btn-lg {
      font-size: 1.5rem;
    }
  }
}

.page-link{
  &:focus {
    color: $brand-color;
    background-color:$white;
  }
  &:hover {
    color: $white;
    background-color:darken($brand-color, 15%);
    cursor:pointer;
  }
}
