@import '../scss/brand-variables';
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500");

body {
  background-color:$movie-list-background;
}

button:focus {
    outline:none;
}

.navbar {
  background-color:$navbar-bg-color;

}


.btn-link, a {
  color: $brand-color;
  &:hover, &:focus {
    outline:none;
    color: darken($brand-color, 20%);
  }
}
